{% extends 'partials/base.html' %}

{% block styling %}
    select{
        width:500px;
        height:50px;
    }
    #history_div{
        width:500px;
        margin:50px;
    }
{% endblock %}

{% block content %}
<div id="history_div">

    <form method="POST">
        {% csrf_token %}
        <select class="form-select" name="id" aria-label="Default select example">
            <option selected value="{{information.letter_id}}">{{information.date}}</option>
            {% for i in info %}
            {% if information.letter_id != i.letter_id %}
            <option value="{{i.letter_id}}">{{i.date}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input class="btn btn-success btn-block" type="submit" value="Search">
    </form>
</div>


<div class="row my-4">
    <div class="col-md-4" style="margin-left:20px;" >
        <div class="bg-info text-white p-3 mb-3 ">
            <h5>Letter information</h5>
            <hr>
                <!-- <form method="POST">
                    {% csrf_token %}
                    {{ form_info }}
                    <input class="btn btn-success btn-block" type="submit" value="Save">
                </form> -->
            
            <p>
                Address : {{information.address}}
            </p>
            <p>
                {{information.returnable}}
            </p>
            <p>
                Source : {{information.source}}
            </p>
            <p>
                Destination : {{information.destination}}
            </p>
            <p>
                From : {{information.name}}
            </p>
            
        </div>
        <a href="{% url 'generate-pdf' id 'attachment' %}" class=" active alert alert-info" > Generate PDF </a>
        <a href="{% url 'generate-pdf' id 'inline' %}" style="margin-left:20px;" target="_blank" class=" active alert alert-info" > Preview PDF </a>
    </div>
    <div class="col-md-7" style="margin-right:10px;">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% if item.table_id == id %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>

<div class="row my-4">
    
</div>

{% endblock %}
